.cart-product{
    .repeater {
        position: relative;
        padding: 15px;
        border: 1px solid #ebebeb;
        margin: 0 0 30px;
        background: #f7f7f7;
        &:nth-last-of-type() {
            margin-bottom: 0;
        }
        .productImg {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border: 1px solid #dcdada;
            padding: 5px;
            float: left;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .content {
            padding: 0 30px;
            float: left;
            h5 {
                color: #e24b4b;
                font-size: 18px;
                font-weight: 700;
                text-transform: capitalize;
            }
            p {
                font-size: 14px;
                color: #000;
                b {
                    font-weight: 700;
                }
            }
            span {
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #ebebeb;
                background: #fff;
            }
        }
        a {
            background: #e24b4b;
            padding: 0 15px;
            display: inline-block;
            color: #fff;
            font-weight: 600;
            line-height: 39px;
            text-decoration: none;
        }
        .action {
            padding: 32px 0;
        }
    }
}